* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: url('./Game-Images/Space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chickenContainer {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.chickenContainer img {
    height: 60px;

}

.rocket {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}


#rocket {
    z-index: 2;
    height: 100px;
}

.bullet {

    position: absolute;
    height: 30px;
}